<div class="box warning">
  <i class="ico-warning"></i>
  <%= t('.notice') %>
</div>

<div class="section">
  <div class="section-content">
    <div class="section-row">
      <div class="section-cell">
        <div class="cell-container">
          <div class="cell-column">
            <label><%= t('.explanation.title_html') %></label>
            <p>
              <%= t('.explanation.body_html') %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :shopify_app_javascript do %>
  ShopifyApp.Bar.initialize({
    buttons: {
      primary: { label: "<%= t('buttons.retry') %>", callback: function() {
        window.location = "<%= retry_path %>"
      }}
    }
  });
<% end %>
