<div class="section-row" data-condition>
  <div class="section-cell">
    <a href="#" class="right" data-condition-destroy>
      <span class="icon ico-clear-bluegray"></span>
    </a>

    <%= f.hidden_field :_destroy, value: local_assigns.fetch(:destroyed, false) %>

    <%= f.label :field %>
    <div class="select-wrapper">
      <%=
        f.select :field,
          Matcher::FIELDS.map { |field| [t(field, scope: 'matcher.fields'), field] },
          { prompt: Condition.human_attribute_name(:field) },
          { class: 'select', data: { condition_field: true } }
      %>
    </div>

    <%= f.label :verb %>
    <div class="select-wrapper">
      <%=
        f.select :verb,
          Matcher::VERBS.map { |verb| [t(verb, scope: 'matcher.verbs'), verb] },
          { prompt: Condition.human_attribute_name(:verb) },
          { class: 'select' }
      %>
    </div>

    <%= f.label :value %>
    <%= f.text_field :value %>

    <div data-product-attributes style="display: none;">
      <%= f.radio_button :all_items_must_match, true %>
      <%= f.label :all_items_must_match_true, t('.all_items_must_match') %>

      <%= f.radio_button :all_items_must_match, false %>
      <%= f.label :all_items_must_match_false, t('.one_items_must_match') %>
    </div>
  </div>
</div>
