<% if @rate.disabled? %>
  <div class="box warning">
    <i class="ico-warning"></i>
    <%= t('rates.disabled') %>
  </div>
<% end %>

<%= form_for(@rate) do |f| %>
  <div class="section">
    <div class="section-summary">
      <h1><%= t('.public.title_html') %></h1>
      <p><%= t('.public.body_html') %></p>
    </div>
    <div class="section-content">
      <div class="section-row">
        <div class="section-cell">
          <%= f.label :name %>
          <%= f.text_field :name %>
          <%= f.label :description %>
          <%= f.text_area :description %>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-summary">
      <h1><%= t('.advanced.title_html') %></h1>
      <p><%= t('.advanced.body_html') %></p>
    </div>
    <div class="section-content">
      <div class="section-row">
        <div class="section-cell">
          <%= f.label :code %>
          <span class="field_help"><%= t('.fields.help.code') %></span>
          <%= f.text_field :code %>
          <%= f.label :notes %>
          <%= f.text_area :notes %>

          <div class="input-wrapper inline" style="padding: 0;">
            <div class="checkbox-wrapper">
              <%= f.check_box :disabled, class: 'checkbox' %>
              <span class="checkbox-styled"></span>
            </div>
            <%= f.label :disabled, style: "margin-top: -2px;" %>
          </div>
          <span class="field_help"><%= t('.fields.help.disabled') %></span>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-summary">
      <h1><%= t('.price.title_html') %></h1>
      <p><%= t('.price.body_html') %></p>
    </div>
    <div class="section-content">
      <div class="section-row">
        <div class="section-cell">
          <%= f.label :price %>
          <span class="field_help"><%= t('.fields.help.price') %></span>
          <%= f.text_field :price, placeholder: 0 %>
        </div>
      </div>
      <div class="section-row">
        <div class="section-cell">
          <%= f.label :price_weight_modifier %>
          <%= f.text_field :price_weight_modifier, placeholder: 0 %>
        </div>
        <div class="section-cell">
          <%= f.label :price_weight_modifier_starter %>
          <%= f.text_field :price_weight_modifier_starter, placeholder: 0 %>
        </div>
      </div>
      <div class="section-row">
        <div class="section-cell">
          <%= f.label :price_total_modifier %>
          <%= f.text_field :price_total_modifier, placeholder: 0 %>
        </div>
        <div class="section-cell">
          <%= f.label :price_total_modifier_starter %>
          <%= f.text_field :price_total_modifier_starter, placeholder: 0 %>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-summary">
      <h1><%= t('.limits.title_html') %></h1>
      <p><%= t('.limits.body_html') %></p>
    </div>
    <div class="section-content">
      <div class="section-row">
        <div class="section-cell">
          <%= f.label :min_grams %>
          <%= f.text_field :min_grams %>
        </div>
        <div class="section-cell">
          <%= f.label :max_grams %>
          <%= f.text_field :max_grams %>
        </div>
      </div>
      <div class="section-row">
        <div class="section-cell">
          <%= f.label :min_price %>
          <%= f.text_field :min_price %>
        </div>
        <div class="section-cell">
          <%= f.label :max_price %>
          <%= f.text_field :max_price %>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-summary">
      <h1><%= t('.extras.title_html') %></h1>
      <p><%= t('.extras.body_html') %></p>
      <p>
        <button class="btn primary" data-product_specific_price-add>
          <%= t('.extras.button') %>
        </button>

        <div style="display: none;" data-product_specific_price-template>
          <%= f.fields_for :product_specific_prices, ProductSpecificPrice.new do |ff| %>
            <%= render 'product_specific_price', f: ff, destroyed: true, disabled: true %>
          <% end %>
        </div>
      <p>
    </div>
    <div class="section-content" data-product_specific_price-list>
      <% @rate.product_specific_prices.each do |product_specific_price| %>
        <%= f.fields_for :product_specific_prices, product_specific_price do |ff| %>
          <%= render 'product_specific_price', f: ff %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="section">
    <div class="section-summary">
      <h1><%= t('.filters.title_html') %></h1>
      <p><%= t('.filters.body_html') %></p>
      <p>
        <button class="btn primary" data-condition-add>
          <%= t('.filters.button') %>
        </button>

        <div style="display: none;" data-condition-template>
          <%= f.fields_for :conditions, Condition.new do |ff| %>
            <%= render 'condition', f: ff, destroyed: true, disabled: true %>
          <% end %>
        </div>
      <p>
    </div>
    <div class="section-content" data-condition-list>
      <% @rate.conditions.each do |condition| %>
        <%= f.fields_for :conditions, condition do |ff| %>
          <%= render 'condition', f: ff %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :shopify_app_javascript do %>
  ShopifyApp.Bar.initialize({
    title: "<%= @rate.persisted? ? @rate.name : t('breadcrumbs.new_rate') %>",
    breadcrumb: { label: "<%= t('breadcrumbs.rates') %>", href: "<%= rates_path %>", target: 'app', loading: false },
    buttons: {
      primary: { label: "<%= t('buttons.save') %>", callback: function() {
        $('form').submit()
      }},
      secondary: [
        {
          label: "<%= t('buttons.help') %>", callback: function() {
            window.open("https://christianblais.github.io/Parcelify/", '_blank')
          }
        },
        {
          label: "<%= t('buttons.cancel') %>", callback: function() {
            window.location = "<%= rates_path %>"
          }
        }
      ]
    }
  });

  <% if @rate.errors.any? %>
    ShopifyApp.flashError('<%= t('shared.error') %>');
  <% end %>
<% end %>
