<div class="section">
  <div class="section-content">
    <div class="section-row">
      <div class="section-cell">
        <label><%= t('.title_html') %></label>
        <p>
          <%= t('.body_html') %>
        </p>
      </div>
    </div>
  </div>
</div>

<% content_for :shopify_app_javascript do %>
  ShopifyApp.Bar.initialize({
    title: '<%= t('breadcrumbs.welcome') %>',
    buttons: {
      primary: { label: "<%= t('buttons.new_rate') %>", callback: function() {
        window.location = "<%= new_rate_path %>"
      }}
    }
  });
<% end %>
