<div class="box notice">
  <i class="ico-notice"></i>
  <%= t('.notice_html') %>
</div>

<div class="section">
  <div class="section-summary">
    <h1><%= t('.title_html') %></h1>
    <p><%= t('.body_html') %></p>
  </div>

  <div class="section-content">
    <% @rates.each do |rate| %>
      <div class="section-row">
        <div class="section-cell">

          <div class="cell-container">
            <div class="cell-column">
              <h1 style="font-size: 1.5em; color: #31373d; margin: 0 120px 16px 0;">
                <%= rate.name %>
              </h1>

              <ul class="segmented right">
                <li><%= link_to t('buttons.edit'), rate_path(rate), class: %w(btn default btn-slim) %></li>
                <li><%= link_to t('buttons.delete'), rate_path(rate), method: :delete, class: %w(btn destroy btn-slim), data: { confirm: t('shared.delete', value: rate.name) } %></li>
              </ul>
            </div>
          </div>

          <div class="cell-container">
            <div class="cell-column">
              <% if rate.disabled? %>
                <div class="box full disabled">
                  <%= t('rates.disabled') %>
                </div>
              <% end %>

              <% if rate.notes.present? %>
                <div class="box full price">
                  <%= rate.notes %>
                </div>
              <% end %>
            </div>
          </div>

          <div class="cell-container">
            <div class="cell-column">
              <h1><%= t('.price') %></h1>
              <ul>
                <li>
                  <%= Rate.human_attribute_name(:price) %>:
                  <%= number_to_currency(
                        rate.price / 100.0,
                        unit: shop.currency,
                        format: "%n %u"
                      ) %>
                </li>

                <% unless rate.price_weight_modifier.zero? %>
                  <li>
                    <%= Rate.human_attribute_name(:price_weight_modifier) %>:
                    <%= rate.price_weight_modifier / 100.0 %>
                  </li>

                  <% unless rate.price_weight_modifier_starter.zero? %>
                    <li>
                      <%= Rate.human_attribute_name(:price_weight_modifier_starter) %>:
                      <%= pluralize(rate.price_weight_modifier_starter, t('default.unit.gram')) %>
                    </li>
                  <% end %>
                <% end %>

                <% unless rate.price_total_modifier.zero? %>
                  <li>
                    <%= Rate.human_attribute_name(:price_total_modifier) %>:
                    <%= rate.price_total_modifier / 100.0 %>
                  </li>

                  <% unless rate.price_total_modifier_starter.zero? %>
                    <li>
                      <%= Rate.human_attribute_name(:price_total_modifier_starter) %>:
                      <%= pluralize(rate.price_total_modifier_starter, t('default.unit.cent')) %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>

          <% if rate.limits.any? %>
            <div class="cell-container">
              <div class="cell-column">
                <h1><%= t('.limits') %></h1>
                <ul>
                  <% if rate.min_price.present? %>
                    <li>
                      <%= Rate.human_attribute_name(:min_price) %>:
                      <%=
                        number_to_currency(
                          rate.min_price / 100.0,
                          unit: shop.currency,
                          format: "%n %u"
                        )
                      %>
                    </li>
                  <% end %>

                  <% if rate.max_price.present? %>
                    <li>
                      <%= Rate.human_attribute_name(:max_price) %>:
                      <%=
                        number_to_currency(
                          rate.max_price / 100.0,
                          unit: shop.currency,
                          format: "%n %u"
                        )
                      %>
                    </li>
                  <% end %>

                  <% if rate.min_grams.present? %>
                    <li>
                      <%= Rate.human_attribute_name(:min_grams) %>:
                      <%= number_with_delimiter(rate.min_grams) %> <%= t('default.unit.gram') %>
                    </li>
                  <% end %>

                  <% if rate.max_grams.present? %>
                    <li>
                      <%= Rate.human_attribute_name(:max_grams) %>:
                      <%= number_with_delimiter(rate.max_grams) %> <%= t('default.unit.gram') %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>

          <% if rate.product_specific_prices.any? %>
            <div class="cell-container">
              <div class="cell-column">
                <h1><%= t('.extras') %></h1>
                <ul>
                  <% rate.product_specific_prices.each do |product_specific_price| %>
                    <li>
                      <%= t('.product_specific_price',
                            price: number_to_currency(
                              product_specific_price.price / 100.0,
                              unit: shop.currency,
                              format: "%n %u"
                            ),
                            field: t(product_specific_price.field, scope: 'matcher.fields').downcase.pluralize,
                            verb: t(product_specific_price.verb, scope: 'matcher.actions').downcase,
                            value: truncate(product_specific_price.value)
                          ) %>

                      <% unless product_specific_price.after_n_items.zero? %>
                        (<%= t('.product_specific_price_n_items', n: product_specific_price.after_n_items) %>)
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>

          <% if rate.conditions.any? %>
            <div class="cell-container">
              <div class="cell-column">
                <h1><%= t('.filters') %></h1>
                <ul>
                  <% rate.conditions.each do |condition| %>
                    <li>
                      <% if Matcher::PRODUCT_FIELDS.include?(condition.field) %>
                        <% if condition.all_items_must_match? %>
                          <%= t('.all_product_filter',
                                field: t(condition.field, scope: 'matcher.fields').downcase.pluralize,
                                verb: t(condition.verb, scope: 'matcher.actions').downcase,
                                value: truncate(condition.value)
                              ) %>
                        <% else %>
                          <%= t('.one_product_filter',
                                field: t(condition.field, scope: 'matcher.fields').downcase,
                                verb: t(condition.verb, scope: 'matcher.actions').downcase,
                                value: truncate(condition.value)
                              ) %>
                        <% end %>
                      <% else %>
                        <%= t('.address_filter',
                              field: t(condition.field, scope: 'matcher.fields').downcase,
                              verb: t(condition.verb, scope: 'matcher.actions').downcase,
                              value: truncate(condition.value)
                            ) %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    <% end %>
  </div>
</div>

<% content_for :shopify_app_javascript do %>
  ShopifyApp.Bar.initialize({
    title: '<%= t('breadcrumbs.rates') %>',
    buttons: {
      primary: { label: "<%= t('buttons.new_rate') %>", callback: function() {
        window.location = "<%= new_rate_path %>"
      }},
      secondary: [{
        label: "<%= t('buttons.troubleshoot') %>", callback: function() {
          ShopifyApp.Modal.confirm(
            {
              title: "<%= t('troubleshoot.title_html') %>",
              message: "<%= t('troubleshoot.body_html') %>",
              okButton: "<%= t('buttons.sync') %>",
              cancelButton: "<%= t('buttons.cancel') %>",
              style: "danger"
            }, function(result) {
              if (result) {
                window.location = "<%= retry_path %>"
              }
            }
          );
        }
      },
      {
        label: "<%= t('buttons.help') %>", callback: function() {
          window.open("https://christianblais.github.io/Parcelify/", '_blank')
        }
      }]
    }
  });
<% end %>
